<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="utils.mybatis.mapper.UserDbMapper">

    <!--<resultMap id="UserMap" type="UserEntity">-->
        <!--<id column="id" jdbcType="INTEGER" property="userId"/>-->
        <!--<result column="user_name" jdbcType="VARCHAR" property="userFullName"/>-->
        <!--<result column="user_nip" jdbcType="VARCHAR" property="userNip"/>-->
        <!--<result column="user_pesel" jdbcType="VARCHAR" property="userPesel"/>-->
        <!--<result column="user_address" jdbcType="VARCHAR" property="userAddress"/>-->
        <!--<result column="city" jdbcType="VARCHAR" property="city"/>-->
        <!--<result column="nik" jdbcType="VARCHAR" property="nik"/>-->
        <!--&lt;!&ndash;  other columns &ndash;&gt;-->
    <!--</resultMap>-->

    <!--<resultMap id="AccountMap" type="UserAccountEntity">-->
        <!--<result column="id" jdbcType="INTEGER" property="accountId"/>-->
        <!--<result column="user_id" jdbcType="INTEGER" property="userId"/>-->
        <!--<result column="account_type" property="accountType" typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>-->
        <!--<result column="account_nrb" jdbcType="VARCHAR" property="accountNrb"/>-->
        <!--<result column="balance" jdbcType="DECIMAL" property="balance"/>-->
        <!--&lt;!&ndash;  other columns &ndash;&gt;-->
    <!--</resultMap>-->


    <!--  one to many relationship -->
    <resultMap type="utils.mybatis.dao.UserEntity" id="UserMap2">
        <id column="id" jdbcType="INTEGER" property="userId"/>
        <result column="user_name" jdbcType="VARCHAR" property="userFullName"/>
        <result column="user_nip" jdbcType="VARCHAR" property="userNip"/>
        <result column="user_pesel" jdbcType="VARCHAR" property="userPesel"/>
        <result column="user_address" jdbcType="VARCHAR" property="userAddress"/>
        <result column="city" jdbcType="VARCHAR" property="city"/>
        <result column="nik" jdbcType="VARCHAR" property="nik"/>

        <collection property="userAccounts" javaType="List" ofType="utils.mybatis.dao.UserAccountEntity">
            <result column="id" jdbcType="INTEGER" property="accountId"/>
            <result column="user_id" jdbcType="INTEGER" property="userId"/>
            <result column="account_type" property="accountType" typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
            <result column="account_nrb" jdbcType="VARCHAR" property="accountNrb"/>
            <result column="balance" jdbcType="DECIMAL" property="balance"/>
        </collection>
    </resultMap>

    <!--  one to one relationship -->
    <resultMap type="utils.mybatis.dao.UserAccountEntity" id="AccountMap2">
        <id column="id" jdbcType="INTEGER" property="accountId"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="account_type" property="accountType" typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
        <result column="account_nrb" jdbcType="VARCHAR" property="accountNrb"/>
        <result column="balance" jdbcType="DECIMAL" property="balance"/>

        <association property="userEntity" javaType="utils.mybatis.dao.UserEntity" column="user_id">
            <id column="id" jdbcType="INTEGER" property="userId"/>
            <result column="user_name" jdbcType="VARCHAR" property="userFullName"/>
            <result column="user_nip" jdbcType="VARCHAR" property="userNip"/>
            <result column="user_pesel" jdbcType="VARCHAR" property="userPesel"/>
            <result column="user_address" jdbcType="VARCHAR" property="userAddress"/>
            <result column="city" jdbcType="VARCHAR" property="city"/>
            <result column="nik" jdbcType="VARCHAR" property="nik"/>
        </association>
    </resultMap>

    <!--  one to many relationship -->
    <select id="getAllAccountsForUserById" resultType="utils.mybatis.dao.UserEntity" resultMap="UserMap2">
        SELECT user.*, user_accounts.*
        FROM user
        JOIN user_accounts ON user.id = user_accounts.user_id
        where user.nik = #{nik}
    </select>

    <!--  one to one relationship -->
    <select id="getAccountAndUserData" resultType="utils.mybatis.dao.UserAccountEntity" resultMap="AccountMap2">
        SELECT user.*, user_accounts.*
        FROM user_accounts
        JOIN user ON user.id = user_accounts.user_id
        where user_accounts.account_nrb = #{accountNrb}
    </select>

    <sql id="all-user-fields">
        * from USER
    </sql>

    <select id="getAllAccounts" resultMap="AccountMap2" resultType="utils.mybatis.dao.UserAccountEntity">
        select * from user_accounts;
    </select>

    <select id="getAccountByNumber" resultMap="AccountMap2" resultType="utils.mybatis.dao.UserAccountEntity">
        select * from user_accounts where account_nrb =  #{nrb};
    </select>

    <select id="selectAllUsers" resultMap="UserMap2" resultType="utils.mybatis.dao.UserEntity">
        select * from USER order by ${selectByColumn} ${sortType}, id ASC;
    </select>

    <sql id="queryUserConditions">
        where ${queryConditions}
    </sql>
    <select id="countAll" resultType="int">
        select count(*) from USER;
    </select>

    <select id="countAllByFilter" resultType="int">
        select count(*) from USER <include refid="queryUserConditions" />
    </select>


    <insert id="insertAccountData" parameterType="utils.mybatis.dao.UserAccountEntity" keyProperty="accountId" timeout="10"
            useGeneratedKeys="true">
        insert into user_accounts (id, account_nrb, account_type, balance) values (
        #{userId}, #{accountNrb}, #{accountType, typeHandler=org.apache.ibatis.type.EnumTypeHandler}, #{balance}
        )
    </insert>

    <delete id="deleteUserWithAccounts" parameterType="Long">
        delete from user where nik = #{nik};
    </delete>

</mapper>