<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.mapper.EmployeeDBMapper" >

    <resultMap id="UserMap" type="mybatis.dao.UserEntity">
        <id column="id" jdbcType="INTEGER" property="userId" />
        <result column="user_name" jdbcType="VARCHAR" property="userFullName" />
        <result column="user_nip" jdbcType="VARCHAR" property="userNip" />
        <result column="user_pesel" jdbcType="VARCHAR" property="userPesel" />
        <result column="user_address" jdbcType="VARCHAR" property="userAddress" />
        <result column="city" jdbcType="VARCHAR" property="city" />
        <!--  other columns -->
    </resultMap>

    <resultMap id="AccountMap" type="mybatis.dao.UserAccounts">
        <result column="id" jdbcType="INTEGER" property="accountId" />
        <result column="user_id" jdbcType="INTEGER" property="userId" />
        <result column="account_type" property="accountType" typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
        <result column="account_nrb" jdbcType="VARCHAR" property="accountNrb" />
        <result column="balance" jdbcType="DECIMAL" property="balance" />
        <!--  other columns -->
    </resultMap>


    <!--  one to many relationship -->
    <resultMap type="mybatis.dao.UserEntity" id="UserMap2">
        <id column="id" jdbcType="INTEGER" property="userId" />
        <result column="user_name" jdbcType="VARCHAR" property="userFullName" />
        <result column="user_nip" jdbcType="VARCHAR" property="userNip" />
        <result column="user_pesel" jdbcType="VARCHAR" property="userPesel" />
        <result column="user_address" jdbcType="VARCHAR" property="userAddress" />
        <result column="city" jdbcType="VARCHAR" property="city" />

        <collection property="userAccounts" javaType="List" ofType="mybatis.dao.UserAccounts">
            <result column="id" jdbcType="INTEGER" property="accountId" />
            <result column="user_id" jdbcType="INTEGER" property="userId" />
            <result column="account_type" property="accountType" typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
            <result column="account_nrb" jdbcType="VARCHAR" property="accountNrb" />
            <result column="balance" jdbcType="DECIMAL" property="balance" />
        </collection>
    </resultMap>

    <!--  one to one relationship -->
    <resultMap type="mybatis.dao.UserAccounts" id="AccountMap2">
        <id column="id" jdbcType="INTEGER" property="accountId" />
        <result column="user_id" jdbcType="INTEGER" property="userId" />
        <result column="account_type" property="accountType" typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
        <result column="account_nrb" jdbcType="VARCHAR" property="accountNrb" />
        <result column="balance" jdbcType="DECIMAL" property="balance" />

        <association property="userEntity" javaType="mybatis.dao.UserEntity" column="user_id">
            <id column="id" jdbcType="INTEGER" property="userId" />
            <result column="user_name" jdbcType="VARCHAR" property="userFullName" />
            <result column="user_nip" jdbcType="VARCHAR" property="userNip" />
            <result column="user_pesel" jdbcType="VARCHAR" property="userPesel" />
            <result column="user_address" jdbcType="VARCHAR" property="userAddress" />
            <result column="city" jdbcType="VARCHAR" property="city" />
        </association>
    </resultMap>

    <!--  one to many relationship -->
    <select id="getAllAccountsForUserById" resultType="mybatis.dao.UserEntity" resultMap="UserMap2">
        SELECT user.*, user_accounts.*
        FROM user
        JOIN user_accounts ON user.id = user_accounts.user_id
        where user.user_id = #{userId}
    </select>

    <!--  one to one relationship -->
    <select id="getAccountAndUserData" resultType="mybatis.dao.UserAccounts" resultMap="AccountMap2">
        SELECT user.*, user_accounts.*
        FROM user_accounts
        JOIN user ON user.id = user_accounts.user_id
        where user_accounts.account_nrb = #{accountNrb}
    </select>

    <sql id="all-user-fields">
        * from USER
    </sql>

    <select id="getAllAccounts" resultMap = "AccountMap" resultType="mybatis.dao.UserAccounts" >
        select * from user_accounts;
    </select>

    <select id="getAccountByNumber" resultMap = "AccountMap" resultType="mybatis.dao.UserAccounts" >
        select * from user_accounts where account_nrb =  #{nrb};
    </select>

    <insert id="insertAccountData" parameterType="mybatis.dao.UserAccounts" keyProperty="accountId" timeout="10" useGeneratedKeys="true">
        insert into user_accounts (id, account_nrb, account_type, balance) values (
        #{userId}, #{accountNrb}, #{accountType, typeHandler=org.apache.ibatis.type.EnumTypeHandler}, #{balance}
        )
    </insert>

</mapper>